<!DOCTYPE html>
<html lang="en">
<head ng-app="app">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog home</title>
    <link rel="stylesheet" href="../styles/portfolio.css">

</head>
<body>

<% include partials/header %>

<div class="row">
    <%if(files){%>
    <%files.forEach(function(file){%>

    <div class ='column'>
        <div class ='content' style ='width:100%'>
            <a target="_blank" href="image/<%=file.filename%>">
                <% if(file.isImage){%>
                <img src="image/<%= file.filename %>" alt="" style = 'width:100%'>
            </a>
            <%}else{%>
            <%=file.filename%>
            <%}%>
        </div>
        <h4 style='text-align: center'class="title"><%=file.metadata.title%></h4>
        <h6 style='text-align: center' class ='photographer'><b>Photographed by: <%=file.metadata.username%></b></h6>
    </div>
    <%})%>
    <%} else {%>
    <p>No files to show</p>
    <% } %>
</div>

<script src = "https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
<script src ='https://cdnjs.cloudflare.com/ajax/libs/jquery.lazyloadxt/1.1.0/jqlight.lazyloadxt.min.js'></script>

</body>
</html>